
  .header {
    background-color: #000000; 
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
  }
  
  .nbtrg{
    font-size: 2rem;
    background-image: linear-gradient(45deg, #ff0000, #ff7700, #ffcc00, #aaff00, #00ff77, #0077ff, #aa00ff, #ff00aa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-left: 10px;
  }

  .img-logo {
    text-decoration: none; 
    flex: 1;
    display: flex;
    align-items: center;
  }
  .logo{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .btnbus {
    padding-left: 10px;
    align-items: center;
    margin: 30px;
  }
  .gifs-section{
    background-color: #5d5d5d;
    padding-left: 30px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gif-div {
    background-color: #5d5d5d;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px; 
    display: flex;

  }
  
  .bus-inp {
    width: 800px;
    height: 30px;
    padding: 10px;
    margin-right: 50px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
  }
  .small {
    font-size: 14px;
    font-weight: bold; 
    margin-bottom: 5px; 
  }
  

  .gif-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 5px; 
  }
 .div-gen{
  background-color: #5d5d5d;
 }

  form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  button {
    background-color: #650098;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
    text-align: justify;
    
  }
  footer{
    background-color: #000000; 
  }